body {
	width: 100%;
	min-height: 100%;
	background: $body-background;
	color: $primary-text;
	font-family: $font-stack;
	font-size: $base-font-size;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: visible;
}