/* Breakpoints */
@mixin breakpoint($point) {
	@if $point == small {
		@media only screen and (min-width: 768px) {
			@content;
		}
	} @else if $point == tablet {
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
			@content;
		}
	} @else if $point == medium {
		@media only screen and (min-width: 992px) {
			@content;
		}
	} @else if $point == over-tablet {
		@media only screen and (min-width: 1025px) {
			@content;
		}
	} @else if $point == large {
		@media only screen and (min-width: 1240px) {
			@content;
		}
	}
}

/* Flexbox */
@mixin flexbox($justify-content: '', $align-items: '', $flex-wrap: '', $flex-direction: '') {
	display: flex;
	// justify-content default value flex-start
	@if $justify-content == flex-end {
		justify-content: flex-end;
	} @else if $justify-content == center {
		justify-content: center;
	} @else if $justify-content == space-between {
		justify-content: space-between;
	} @else if $justify-content == space-around {
		justify-content: space-around;
	} @else {}
	// align-items default value stretch
	@if $align-items == flex-start {
		align-items: flex-start;
	} @else if $align-items == flex-end {
		align-items: flex-end;
	} @else if $align-items == center {
		align-items: center;
	} @else if $align-items == baseline {
		align-items: baseline;
	} @else {}
	// flex-wrap default value nowrap
	@if $flex-wrap == wrap {
		flex-wrap: wrap;
	} @else if $flex-wrap == wrap-reverse {
		flex-wrap: wrap-reverse;
	} @else {}
	// flex-direction default value row
	@if $flex-direction == row-reverse {
		flex-direction: row-reverse;
	} @else if $flex-direction == column {
		flex-direction: column;
	} @else if $flex-direction == column-reverse {
		flex-direction: column-reverse;
	} @else {}
}

/* Clearfix */
@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Clickable area - $size in px */
@mixin clickable-area($size) {
	position: relative;
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: transparent;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		padding: $size;
	}
	@include breakpoint(large) {
		&:after {
			display: none;
		}
	}
}

/* Center transform */
@mixin transform-center() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Dotted line */
@mixin ellipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
