/* Base styles */
body {
	width: 100%;
	min-height: 100%;
	background: $body-background;
	color: $primary-text;
	font-family: $font-stack;
	font-size: $base-font-size;
	font-weight: 300;
	line-height: $base-line-height;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow-x: hidden;
	overflow-y: visible;
}

* {
	-webkit-user-select: none;
}

.container {
	margin: 0 $gutter;
}